body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 0;
  background-color: #595983;
  color: #1d1414;
}

h1, h2, h3, h4 {
  color: #aaa0a0;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #007bff;
  color: white;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
}